.logo {

    grid-area: logo;
    background-color:#BCBDC4;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
        width: 50%;
        margin: 0 20%;
    }
}